/*/ESTILOS DE CONTACTO/*/
 .cuerpoContacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .titulosContacto{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 10%;
        h1{
            text-align: center;
            font-size: 400%;
        }
        h2{
            text-align: center;
            font-size: 170%;
            font-weight: 300;
            line-height: 20%;
        }
    }
    .contenidoContacto{
        .cparrafo{
            font-size: 100%;
            font-weight: 300;
        }
        input{
            @include contact($paddingDef: 7%, $minHeight: 0, $widthCon)
        }
        select{
            @include contact($paddingDef: 7%, $minHeight: 0, $widthCon: 78%)
        }
        textarea{
            @include contact($paddingDef, $minHeight: 100%, $widthCon: 200px)
        }
    }
 }

 /*/TABLET/*/

@media screen and (max-width: 1200px) {
    .cuerpoContacto{
        .titulosContacto{
            h1{
                font-size: 300%;
            }
            h2{
                font-size: 160%;
            }
        }
    }
}

/*/TABLET/*/

@media screen and (max-width: 600px) {
    .cuerpoContacto{
        flex-direction: column;
        .titulosContacto{
            display: none;
        }
    }
}