/*/ESTILOS DE PORTFOLIO/*/

.cuerpoPortfolio{
    cursor: default;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "tituloPortfolio"    "tituloPortfolio"
    "contenidoPortfolio" "contenidoPortfolio" ;
    .tituloPortfolio{
        grid-area: tituloPortfolio;
        display: flex;
        justify-content: center;
    }
    
    .contenidoPortfolio{
        grid-area: contenidoPortfolio;
        display: flex;
        justify-content: space-around;
        .card{
            margin: 2%;
            color: white;
            background-color: rgb(61, 5, 112);
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px white solid;
            border-radius: 30px;
            overflow: hidden;
            transition: all 0.5s;
            &:hover{
                background-color: rgb(89, 11, 162);
            }
            .imgCard{
                width: 100%;
                border-bottom: 2px white ;
            }
            
            .descripcionCard{
                margin: 10px;
                text-align: center;
            }
            
            .linkCardIG{
                @extend %linkPortfolio;
                background-color: rgb(255, 157, 29);
            }
            
            .linkCardBE{
                @extend %linkPortfolio;
                background-color: rgb(48, 238, 255);
            }
        }
    }
}



/*/TABLET/*/

@media screen and (max-width: 1200px) {
    .card{
        width: 200px;
    }
    
}

/*/MOBILE/*/

@media screen and (max-width: 600px) {
    .cuerpoPortfolio{
        display: flex;
        flex-direction: column;
        .contenidoPortfolio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card{
                margin: 2%;
                color: white;
                background-color: transparent;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: none;
                overflow: hidden;
                transition: all 0.5s;
                &:hover{
                    background-color:transparent;
                }
                .imgCard{
                    display: none;
                }
                .descripcionCard{
                    margin: 0px;
                    text-align: center;
                }
                .linkCardIG{
                    background-color: aqua;
                    text-decoration: none;
                    padding: 2%;
                    border: 2px solid white;
                    border-radius: 5px;
                    margin: 5%;
                    transition: all 0.5s;
                    &:hover{
                        background-color: rgb(61, 5, 112);
                        color: white;
                        }
                }
                
                .linkCardBE{
                    background-color: aqua;
                    text-decoration: none;
                    padding: 2%;
                    border: 2px solid white;
                    border-radius: 5px;
                    margin: 5%;
                    transition: all 0.5s;
                    &:hover{
                        background-color: rgb(61, 5, 112);
                        color: white;
                        }
                }
            }
        }
    }
}