/*/ESTILOS DE SERVICIOS/*/

.cuerpoServicios{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "contenidoServicios        decoracionServicios"
    "contenidoServicios        decoracionServicios";
    .contenidoServicios{   
        grid-area: contenidoServicios;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
            max-width: 50%;
        }
        h2{
            text-align: center;
            max-width: 50%;
            line-height: 50%;
        }
        p{
            text-align: center;
            max-width: 50%;
            position: relative;
            bottom: 5%;
        }
    }
    
    .decoracionServicios{
        grid-area: decoracionServicios;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .circuloVertical{
            width: 5rem;
            height: 5rem;
            background-color: rgba(252, 159, 255, 0.745);
            border-radius: 50%;
            margin-top: 5%;
            margin-bottom: 5%;
            transition: all 0.5s;
            &:hover{
                background-color: white;
            }
        }
    }
}

/*/TABLET/*/

@media screen and (max-width: 1200px) {

    .cuerpoServicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "contenidoServicios"
        "contenidoServicios";
        .contenidoServicios p{
            text-align: center;
            max-width: 80%;
            position: relative;
            bottom: 5%;
        }
        
        .decoracionServicios{
            display: none;
        }
    }

}

/*/MOBILE/*/

@media screen and (max-width: 600px) {

    .cuerpoServicios{
        display: flex;
        .contenidoServicios{   
            grid-area: contenidoServicios;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            font-size: 70%;
            h1{
                text-align: left;
                max-width: 50%;
            }
            h2{
                text-align: left;
                max-width: 50%;
                line-height: 100%;
            }
            p{
                text-align: left;
                max-width: 95%;
                position: relative;
                bottom: 5%;
            }
        }
    }
}