/*/Variables sueltas/*/

$colorDecoracion: rgba(252, 159, 255, 0.745);
$colorDecoracionHover: white;
$seccion: #0004186c;
$seccionHover: #000a39b4;

/*/MAPA (lo uso en el home)/*/

$colores: (
    colorDecoracion: rgba(252, 159, 255, 0.745),
    colorDecoracionHover: white,
    seccion: #0004186c,
    seccionHover: #000a39b4
);

/*/EXTEND (lo uso en portfolio)/*/

%linkPortfolio {
    text-decoration: none;
    padding: 2%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5%;
    transition: all 0.5s;
    &:hover{
        background-color: rgb(61, 5, 112);
        color: white;
        }
}

/*/MIXIN (lo uso en contacto)/*/

@mixin contact($paddingDef, $minHeight, $widthCon) {
    background-color: rgb(224, 122, 255);
    border: none;
    border-radius: 10px;
    padding: $paddingDef;
    min-height: $minHeight;
    width: $widthCon;
}
