body{
    background-color: #00001e;
    min-height: 100vh;
}
.header{
    background-image: linear-gradient(to left, rgb(26, 26, 57), #00001e);
    padding: 0%;
}
.logo{
    padding: 5%;
}
.card{
    color: white;
}
.card-group{
    padding-left: 5%;
    padding-right: 5%;
}
.cardColor{
    background-color: #03314a;
    border: 2px solid;
}
.botonCard{
    color: white;
    background-color: #00001e;
    transition: all 0.5s;
}
.botonCard:hover{
    background-color: aquamarine;
    color: #00001e;
}
.itemMenu{
    color: white;
    transition: all 0.2s;
}
.itemMenu:hover{
    color: aqua;
}
.titulos{
    padding-top: 2%;
    padding-bottom: 2%;
}
.titulos h1{
    color: aqua;
    font-weight: 800;
}
.titulos h2{
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 110%;
}
.sobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
}
.contenedorPortfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 6%;
    padding-bottom: 3%;
}
.contenedorFormulario{
    padding-top: 4%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
.formulario{
    width: 25%;
    border-radius: 20px;
    border: rgb(255, 255, 255)solid;
}
form{
    color: white;
    padding: 7%;
}
.pie{
    margin-top: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, rgb(26, 26, 57), #00001e);
    position: relative;
    top: 7em;
}
.legal{
    font-size: 100%;
}
.listaRedes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}
.itemRedes{
    width: 30px;
    margin-top: 1rem;
}
@media screen and (max-width:990px ) {
    .contenedorPortfolio{
        display: flex;
        flex-direction: column;
    }
    .cardPortfolio{
        margin-bottom: 5%;
    }